node_modules
package-lock.json
config
logs
lib/db.js
exec/SaveBitKindTransactionsToMongo.js
.idea
test/db_test/diagnostic.data/
test/db_test
test/db_test/journal
crontab.js
data
dockerfiles
themes
truffle